<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">




<div class="arriba">
    {{> carrito }}
</div>
<h1>Bienvenido al mercado WEB, sellecione sus productos</h1>
<div class="body offset-2">
    <div>
        {{> productos }}
    </div>
</div>

<style>
    * {
        margin: 0;
    }
    h1 {
        margin: 0;
        text-align: center;
    }
    .arriba {
        background-color: green;
    }
    .body {
        float: left;
    }
</style>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrapjs/bootstrap.min.js"></script>